In [91]:
import json
import glob
import pandas as pd

df1 = pd.DataFrame()
files = glob.glob('f*.json')
for f in files:
    with open(f, 'r') as fp:
        d = json.load(fp)
        df1 = df1.append(d, ignore_index=True)
df1

          A         B         C         D
0  0.869879  0.844202  0.114899  0.340999
1  0.259041  0.069887  0.819856  0.784976
2  0.465021  0.237909  0.657006  0.323396
3  0.946219  0.695150  0.175537  0.839327
4  0.149217  0.862874  0.409901  0.904221
5  0.808056  0.897554  0.638395  0.238894
6  0.869436  0.916379  0.140433  0.684714
7  0.548029  0.058735  0.750414  0.705353
8  0.597243  0.215478  0.849210  0.807377
9  0.143135  0.601593  0.896197  0.788479

In [87]:
df2 = pd.read_csv('df1.csv')
nrow = df2.shape[0]
for i in range(0,nrow):
    if i % 2 != 0:
        df2.iloc[i].update(df2.iloc[i]*100)
df2
df2.to_csv('df2.csv', index=False)

           A          B          C          D
0   0.869879   0.844202   0.114899   0.340999
1  25.904097   6.988709  81.985610  78.497621
2   0.465021   0.237909   0.657006   0.323396
3  94.621925  69.515025  17.553690  83.932655
4   0.149217   0.862874   0.409901   0.904221
5  80.805606  89.755425  63.839475  23.889381
6   0.869436   0.916379   0.140433   0.684714
7  54.802938   5.873527  75.041354  70.535254
8   0.597243   0.215478   0.849210   0.807377
9  14.313516  60.159297  89.619669  78.847876

In [89]:
df3 = pd.DataFrame()
files = glob.glob('x*.json')
for f in files:
    with open(f, 'r') as fp:
        d = json.load(fp)
        df3 = df3.append(d, ignore_index=True)
df3
df3.to_csv('df3.csv', index=False)

          X1        X2        X3        X4        X5
0   0.414317  0.776548  0.506774  0.643326  0.468103
1   0.400211  0.806593  0.904739  0.512174  0.842907
2   0.268349  0.763394  0.346673  0.915704  0.789314
3   0.805532  0.784065  0.322881  0.917927  0.979715
4   0.570898  0.476033  0.961544  0.198116  0.049512
5   0.454052  0.297131  0.054279  0.069190  0.475680
6   0.010104  0.635124  0.465735  0.631675  0.229121
7   0.678892  0.096230  0.227693  0.953992  0.316629
8   0.934717  0.985339  0.578714  0.929416  0.710535
9   0.493016  0.260151  0.751744  0.526969  0.841319
10  0.187431  0.247436  0.784163  0.873230  0.285470
11  0.529107  0.978070  0.354804  0.557944  0.975310
12  0.887774  0.968968  0.984239  0.970451  0.792571
13  0.006619  0.155323  0.254204  0.183008  0.851881
14  0.478550  0.672508  0.592660  0.921384  0.892561