In [1]:
import pandas as pd
fields = [ 'qname', 'hostname', 'group', 'owner', 'job_name',
      'job_number', 'account', 'priority', 'submission_time', 'start_time',
      'end_time', 'failed', 'exit_status', 'ru_wallclock', 'ru_utime',
      'ru_stime', 'ru_maxrss', 'ru_ixrss', 'ru_ismrss', 'ru_idrss',
      'ru_isrss', 'ru_minflt', 'ru_majflt', 'ru_nswap', 'ru_inblock',
      'ru_oublock', 'ru_msgsnd', 'ru_msgrcv', 'ru_nsignals', 'ru_nvcsw',
      'ru_nivcsw', 'project', 'department', 'granted_pe', 'slots',
      'task_number', 'cpu', 'mem', 'io', 'category',
      'iow', 'pe_taskid', 'maxvmem', 'arid', 'ar_submission_time' ]
usecols = ['owner', 'group', 'job_number', 'task_number', 'start_time']
data = pd.read_csv("C:\\Users\\Nancy Zhao\\Desktop\\Python\\UCLA\Assignment\\accounting", sep=':',error_bad_lines=False, header=None,
               names=fields, usecols=usecols, encoding = "ISO-8859-1", nrows = 5000)
data

         group     owner  job_number  start_time  task_number
0        sudip  stevendu     3912841  1538380407         1338
1        yxing  yidazhan     3902779  1538378678        55696
2        sudip  stevendu     3912841  1538380722         1368
3     hduquant  shuang92     3907911  1538379344         1241
4     hduquant  shuang92     3907911  1538378146          972
5     hduquant  shuang92     3907911  1538379739         1324
6        yxing  yidazhan     3902779  1538378474        55638
7     hduquant  shuang92     3907911  1538379343         1235
8        yxing  yidazhan     3902779  1538378275        55618
9        yxing  yidazhan     3902779  1538378678        55697
10       yxing  yidazhan     3902779  1538378678        55700
11    hduquant  shuang92     3907911  1538379609         1272
12       yxing  yidazhan     3902779  1538378340        55625
13    hduquant  shuang92     3907911  1538379409         1253
14    hduquant  shuang92     3907911  1538379146         1192
15    hduquant  shuang92     3907911  1538379279         1224
16    hduquant  shuang92     3907911  1538379612         1286
17    hduquant  shuang92     3907911  1538379676         1297
18       sudip  stevendu     3912841  1538380722         1366
19      sautet    gxy235     3913291  1538379921            0
20    hduquant  shuang92     3907911  1538379612         1285
21       snaoz  shelleyc     3914733  1538294469            0
22       snaoz  shelleyc     3914732  1538294469            0
23       snaoz  shelleyc     3914735  1538294469            0
24    hduquant  shuang92     3907911  1538379346         1250
25       snaoz  shelleyc     3914730  1538294469            0
26    hduquant  shuang92     3907911  1538379279         1219
27       yxing  yidazhan     3902779  1538378407        55635
28       snaoz  shelleyc     3914731  1538294469            0
29       snaoz  shelleyc     3914737  1538294470            0
...        ...       ...         ...         ...          ...
4970  hduquant  shuang92     3907912  1538383651          544
4971     yxing  yidazhan     3902779  1538383578        56613
4972  hduquant  shuang92     3907912  1538384916          664
4973  hduquant  shuang92     3907911  1538384850         2871
4974    eeskin  clagiamb     3918882  1538386246           21
4975  hduquant  shuang92     3907912  1538384915          654
4976    eeskin  jiangyua     3919947  1538386336            0
4977  hduquant  shuang92     3907911  1538385169         2956
4978  hduquant  shuang92     3907911  1538384457         2769
4979  hduquant  shuang92     3907911  1538384851         2885
4980     sudip  stevendu     3912841  1538386270         2039
4981    eeskin  jiangyua     3919948  1538386336            0
4982     sudip  stevendu     3912841  1538386274         2047
4983  hduquant  shuang92     3907911  1538385168         2954
4984     sudip  stevendu     3912841  1538386270         2038
4985  hduquant  shuang92     3907911  1538384718         2809
4986      houk     jblin     3918180  1538386135            0
4987     sudip  stevendu     3912841  1538386274         2042
4988     sudip  stevendu     3912841  1538386274         2045
4989  hduquant  shuang92     3907911  1538384785         2852
4990     yxing  yidazhan     3902779  1538383712        56626
4991  hduquant  shuang92     3907911  1538385107         2942
4992     yxing  yidazhan     3902779  1538383713        56628
4993  hduquant  shuang92     3907912  1538383928          607
4994     yxing  yidazhan     3902779  1538383712        56620
4995  hduquant  shuang92     3907911  1538384851         2877
4996  hduquant  shuang92     3907911  1538385170         2966
4997     yxing  yidazhan     3902779  1538383785        56641
4998  hduquant  shuang92     3907911  1538384721         2826
4999     sudip  stevendu     3912841  1538386274         2043

[5000 rows x 5 columns]

In [2]:
df = pd.DataFrame(data)
df1=df.sort_values(['group','owner']).set_index(['group', 'owner'])
df1.to_excel('df_group_owner.xls', header = True)
df1

                 job_number  start_time  task_number
group  owner
ana    dreilley     3913041  1538335499            0
       dreilley     3913419  1538354459            0
       dreilley     3914094  1538373858            0
       dreilley     3914119  1538378923            0
       dreilley     3914389  1538381097            0
       jtfuller     3909458  1538340321            0
apyle  xhbkirby     3919457  1538378008            0
aribas jentsoi      3917967  1538360462            0
bauchy hanliu       3887250  1538380856            0
       hanliu       3909637  1538381332            0
       hanliu       3909642  1538381505            0
       hanliu       3887250  1538382715            0
       hanliu       3909637  1538382751            0
       hanliu       3909642  1538382998            0
       hanliu       3909642  1538382999            0
       hanliu       3887250  1538384098            0
       hanliu       3909637  1538384289            0
       hanliu       3909642  1538384660            0
       hanliu       3887250  1538385506            0
       hanliu       3909637  1538385974            0
bern   bern         3918601  1538370426            0
       bern         3918600  1538370426            0
eeskin clagiamb     3918872  1538372092           14
       clagiamb     3918872  1538372090            2
       clagiamb     3918872  1538372091            6
       clagiamb     3918872  1538372096            8
       clagiamb     3918872  1538384502           18
       clagiamb     3918872  1538384502           19
       clagiamb     3918872  1538372092           16
       clagiamb     3918872  1538372091            4
...                     ...         ...          ...
yxing  yidazhan     3902779  1538383311        56590
       yidazhan     3902779  1538383378        56601
       yidazhan     3902779  1538383311        56589
       yidazhan     3902779  1538383313        56597
       yidazhan     3902779  1538383512        56607
       yidazhan     3902779  1538383512        56608
       yidazhan     3902779  1538383850        56645
       yidazhan     3902779  1538383852        56651
       yidazhan     3902779  1538383378        56599
       yidazhan     3902779  1538383379        56600
       yidazhan     3902779  1538383512        56606
       yidazhan     3902779  1538383378        56598
       yidazhan     3902779  1538383578        56614
       yidazhan     3902779  1538383581        56611
       yidazhan     3902779  1538383445        56605
       yidazhan     3902779  1538383578        56612
       yidazhan     3902779  1538383578        56610
       yidazhan     3902779  1538383445        56602
       yidazhan     3902779  1538383578        56609
       yidazhan     3902779  1538383643        56617
       yidazhan     3902779  1538383643        56615
       yidazhan     3902779  1538383713        56630
       yidazhan     3902779  1538383713        56631
       yidazhan     3902779  1538383643        56619
       yidazhan     3902779  1538383713        56629
       yidazhan     3902779  1538383578        56613
       yidazhan     3902779  1538383712        56626
       yidazhan     3902779  1538383713        56628
       yidazhan     3902779  1538383712        56620
       yidazhan     3902779  1538383785        56641

[5000 rows x 3 columns]

In [3]:
df2=df.sort_values(['group','owner', 'job_number']).set_index(['group', 'owner', 'job_number'])
df2.to_excel('df_group_owner_jobNum.xls', header = True)
df2

                            start_time  task_number
group  owner    job_number
ana    dreilley 3913041     1538335499            0
                3913419     1538354459            0
                3914094     1538373858            0
                3914119     1538378923            0
                3914389     1538381097            0
       jtfuller 3909458     1538340321            0
apyle  xhbkirby 3919457     1538378008            0
aribas jentsoi  3917967     1538360462            0
bauchy hanliu   3887250     1538380856            0
                3887250     1538382715            0
                3887250     1538384098            0
                3887250     1538385506            0
                3909637     1538381332            0
                3909637     1538382751            0
                3909637     1538384289            0
                3909637     1538385974            0
                3909642     1538381505            0
                3909642     1538382998            0
                3909642     1538382999            0
                3909642     1538384660            0
bern   bern     3918600     1538370426            0
                3918601     1538370426            0
eeskin clagiamb 3918872     1538372092           14
                3918872     1538372090            2
                3918872     1538372091            6
                3918872     1538372096            8
                3918872     1538384502           18
                3918872     1538384502           19
                3918872     1538372092           16
                3918872     1538372091            4
...                                ...          ...
yxing  yidazhan 3902779     1538383311        56590
                3902779     1538383378        56601
                3902779     1538383311        56589
                3902779     1538383313        56597
                3902779     1538383512        56607
                3902779     1538383512        56608
                3902779     1538383850        56645
                3902779     1538383852        56651
                3902779     1538383378        56599
                3902779     1538383379        56600
                3902779     1538383512        56606
                3902779     1538383378        56598
                3902779     1538383578        56614
                3902779     1538383581        56611
                3902779     1538383445        56605
                3902779     1538383578        56612
                3902779     1538383578        56610
                3902779     1538383445        56602
                3902779     1538383578        56609
                3902779     1538383643        56617
                3902779     1538383643        56615
                3902779     1538383713        56630
                3902779     1538383713        56631
                3902779     1538383643        56619
                3902779     1538383713        56629
                3902779     1538383578        56613
                3902779     1538383712        56626
                3902779     1538383713        56628
                3902779     1538383712        56620
                3902779     1538383785        56641

[5000 rows x 2 columns]